html {
  height: 100%;
}
body {
  margin-top: 0px;
  padding-top: 0px;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-family: Montserrat, Helvetica;
}

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; 
  text-decoration: none;
  color: initial; 
}

#nav {
  position: fixed; 
  background-color: #ffffff;
  top: 0px;
  opacity: 0.8;
  margin-top: 0px; 
  width: 100%;
  padding-top: 25px;
  padding-right: 100%;
  box-shadow: 0 0 2.5px rgb(0, 0, 0);
  z-index: 20;
} 

#lessons {
  position: relative; 
  bottom: 8px;
  padding-bottom: 10px;
  background-color: transparent;
  border:rgb(0, 0, 0); 
  left: 90%; 
  text-shadow: 0 0 0px rgb(0, 0, 0);
  letter-spacing: 0.8px; 
  cursor: pointer;
}

#h1 {
  text-align: center; 
  padding-top: 50px;
}

#homepage {
  position: absolute; 
  bottom: 8px;
  padding-bottom: 10px;
  background-color: transparent;
  border:rgb(0, 0, 0); 
  left: 42%; 
  text-shadow: 0 0 0px rgb(0, 0, 0);
  letter-spacing: 0.8px; 
}