html {
  height: 100%;
}
body {
  margin-top: 0px;
  padding-top: 0px;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-family: Montserrat, Helvetica;
}

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; 
  text-decoration: none;
  color: initial; 
}

#nav {
  position: fixed; 
  background-color: #ffffff;
  top: 0px;
  opacity: 0.8;
  margin-top: 0px; 
  width: 100%;
  padding-top: 25px;
  padding-right: 100%;
  box-shadow: 0 0 2.5px rgb(0, 0, 0);
  z-index: 20;
} 

#homepage {
  position: absolute; 
  bottom: 8px;
  padding-bottom: 10px;
  background-color: transparent;
  border:rgb(0, 0, 0); 
  left: 42%; 
  text-shadow: 0 0 0px rgb(0, 0, 0);
  letter-spacing: 0.8px; 
}

#lessons {
  position: relative; 
  bottom: 8px;
  padding-bottom: 10px;
  background-color: transparent;
  border:rgb(0, 0, 0); 
  left: 90%; 
  text-shadow: 0 0 0px rgb(0, 0, 0);
  letter-spacing: 0.8px; 
  cursor: pointer;
}

#h1 {
  position: absolute;
  text-align: center; 
  padding-top: 50px;
  color: white;
  text-shadow: 0 0 2px;
  letter-spacing: 1.5px;
  top: 160px;
  width: 100%;
  font-size: 50px;
  z-index: 5;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
} 

#underlineh1 {
  position: relative;
  text-align: center; 
  width: 190px;
  height: 10px; 
  z-index: 5; 
  margin-right: auto;
  margin-left: auto;
  background: white; 
  border-radius: 3px;
  box-shadow: 0 0 0px rgb(0, 0, 0);
  opacity: 0.9;
}

.imageblur {
  color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: 2;
}

#background {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 590px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  animation-name: fadein; 
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: ease;
  z-index: -5;
}

@keyframes fadein {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}

#beginnersection {
  position: absolute;
  text-align: center;
  background-color: rgba(0, 230, 0, 0.692);
  border-radius: 15px;
  box-shadow: 1px 1px 4px, inset 0 0 10px rgb(255, 255, 255);
  width: 60%; 
  height: 90px;
  top: 700px;
  margin-right: auto;
  margin-left: auto;
  left: 0; 
  right: 0;
}

#beginnertext {
  position: relative;
  font-size: 30px;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  margin-top: 0px;
  padding-top: 30px;
  z-index: 2;
}

.lessonbox {
  left: 11.1%;
  position: absolute;
  background-color: rgba(0, 255, 0, 0.548);
  border-radius: 15px;
  box-shadow: 1px 1px 4px, inset 0 0 10px rgb(255, 255, 255);
  width: 18.5%; 
  height: 390px;
  top: 900px;
  z-index: -4;
}

.lessonboxheader {
  position: relative;
  font-size: 25px;
  text-shadow: 0 0 8px rgb(255, 255, 255);
  padding-top: 12px;
  z-index: -10;
  text-align: center;
}

.lessonboxtext {
  position: relative;
  font-size: 15px;
  text-shadow: 0 0 3px rgb(255, 255, 255), 0 0 1px; 
  line-height: 30px;
  padding-top: 10px;
  z-index: -10;
  text-align: center;
}


#averagesection {
  position: absolute;
  text-align: center;
  background-color: rgba(0, 122, 221, 0.623);
  border-radius: 15px;
  box-shadow: 1px 1px 4px, inset 0 0 10px rgb(255, 255, 255);
  width: 60%; 
  height: 90px;
  top: 1400px;
  margin-right: auto;
  margin-left: auto;
  left: 0; 
  right: 0;
}

#averagetext {
  position: relative;
  font-size: 30px;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  margin-top: 0px;
  padding-top: 30px;
  z-index: 2;
}


#advancedsection {
  position: absolute;
  text-align: center;
  background-color: rgba(209, 0, 0, 0.685);
  border-radius: 15px;
  box-shadow: 1px 1px 4px, inset 0 0 10px rgb(255, 255, 255);
  width: 60%; 
  height: 90px;
  top: 2000px;
  margin-right: auto;
  margin-left: auto;
  left: 0; 
  right: 0;
}

#advancedtext {
  position: relative;
  font-size: 30px;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  margin-top: 0px;
  padding-top: 30px;
  z-index: 2;
}