html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgb(87, 230, 255);
  font-family: Montserrat, Helvetica;
}

#logo {
  position: absolute;
  height: 80px;
  width: 80px; 
  margin: 60px 0px 0px 30px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; 
  text-decoration: none;
  color: initial; 
}

#nav {
  position: fixed; 
  width: 100%;
  background-color: #ffffff;
  opacity: 0.8;
  padding-top: 25px;
  padding-right: 100%;
  box-shadow: 0 0 2.5px rgb(0, 0, 0);
  z-index: 500;
} 

#lessons {
  position: relative; 
  bottom: 8px;
  padding-bottom: 10px;
  background-color: transparent;
  border:rgb(0, 0, 0); 
  left: 90%; 
  text-shadow: 0 0 0px rgb(0, 0, 0);
  letter-spacing: 0.8px;
  z-index: 20;
}

#firstbody {
  position: absolute; 
  z-index: 20;
  width: 100%;
}

#h1first {
  position: absolute; 
  width: 100%;
  margin: 200px 0px 0px 120px;
  padding: 0px 200px 0px 125px;
  color: rgb(0, 0, 0);
  font-family: Montserrat, Helvetica; 
  font-weight: bold;
  text-shadow: 0px 0px 4px white, 0 0 13px white;
  white-space: nowrap
}
#firstbox {
  position: absolute;
  padding: 20px 300px 0px 18px;
  width: 500px;
  top: 240px;
  bottom: 300px;
  margin: 0px 0px 0px 200px;
  font-family: Montserrat, Helvetica;
  color:rgb(0, 0, 0);
  font-size: 20px; 
  font-weight: bold;
  text-shadow: 0px 0px 4px white, 0 0 13px white;
}
#maincontent {
  margin:40px 180px 0px 180px;
  position: absolute;
  background-color: rgba(110, 255, 175, 0);
  /*box-shadow: 0px 5px 15px grey; */
  border-radius: 15px;
  z-index: 20;
}
#background {
  position: absolute;
  width: 100%;
  height: 760px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  animation-name: slidein; 
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: ease;
  z-index: 50;
}

@keyframes slidein {
  0% {top: -2000px;}
  100% {top: 0px;}
}

#whitetransparency {
  color: rgb(255, 255, 255);
  opacity: 0.65;
  position: absolute;
  width: 100%;
  z-index: -5;
}

#content {
  position: absolute;
  z-index: -10;
  width: 100%; 
  top: 0%;
}

#floats {
  position: absolute; 
  left: 340px;
  z-index: 25;
}

#rod {
  margin: 50px 0px 0px -400px;
  padding: 0;
  position: absolute;
  width: auto;
  height: auto;
  animation-name: images;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: ease;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#sword {
  margin:  50px 0px 0px 470px;
  position: absolute;
  width: auto;
  height: auto;
  animation-name: images;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: ease;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@keyframes images {
  0% {top: 230px;}
  50% {top: 80px;}
  100% {top: 230px;}
}

#secondbody {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  top: 759px;
  z-index: -10;
}

.font {
  font-family: Montserrat, Helvetica;
} 

#h1 {
  position: absolute;
  margin: 90px 0px 0px 100px;
}

#p1 {
  position: relative;
  margin: 160px 420px 0px 170px;
  line-height: 40px;
  padding-bottom: 70px;
}

#firstimage {
  position: absolute; 
  width: 240px; 
  height: 240px;
  object-fit: cover;
  object-position: 70% 70%;
  left: 1000px;
  bottom: 300px;
  top: 20%;
  border-radius: 20px;
  z-index: -10;
}

#thirdbody {
  position: absolute;
  top: 1150px;
  padding-top: 120px;
  background-color: #ffffff;
  padding-bottom: 1000px;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.levelboxheader {
  position: relative;
  font-size: 30px;
  text-shadow: 0 0 8px rgb(255, 255, 255);
  padding-top: 12px;
  z-index: -10;
}

.levelboxtext {
  position: relative;
  text-shadow: 0 0 3px rgb(255, 255, 255), 0 0 1px; 
  line-height: 30px;
  padding-top: 10px;
  z-index: -10;
}

#levelbox1 {
  left: 11.1%;
  position: absolute;
  background-color: rgb(0, 228, 0);
  border-radius: 15px;
  box-shadow: 1px 1px 4px, inset 0 0 10px rgb(255, 255, 255);
  width: 18.5%; 
  height: 390px;
  z-index: -4;
}

#levelbox2 {
  left: 40.6%;
  position: absolute;
  background-color: rgb(0, 198, 248);
  border-radius: 15px;
  box-shadow: 1px 1px 4px, inset 0 0 10px rgb(255, 255, 255);
  width: 18.5%; 
  height: 390px;
  z-index: -5;
}
#levelbox3 {
  left: 70.5%;
  position: absolute;
  background-color: rgb(219, 0, 0);
  border-radius: 15px;
  box-shadow: 1px 1px 4px, inset 0 0 10px rgb(255, 255, 255);
  width: 18.5%; 
  height: 390px;
  z-index: -5;
} 

#advancedbox {
  font-size: 16px;
  text-shadow: 0 0 1px, 0 0 4px rgb(255, 255, 255);
}

#levelbox1:hover, #levelbox1:active {
  box-shadow: inset 0 0 8px rgb(255, 255, 255), 1px 1px 12px;
  width: 18.5%;
  height: 100;
}

#levelbox2:hover, #levelbox2:active {
  box-shadow: inset 0 0 8px rgb(255, 255, 255), 1px 1px 12px;
  width: 18.5%;
  height: 100;
}

#levelbox3:hover, #levelbox3:active {
  box-shadow: inset 0 0 8px rgb(255, 255, 255), 1px 1px 12px;
  width: 18.5%;
}