html {
  height: 100%;
}
body {
  height: 100%;
  background-color: rgb(87, 230, 255);
}
.container1 {
  position: relative;
  color:rgba(255, 255, 255, 0.5);
}
#h1first {
  margin-top:200px;
  color: rgb(0, 0, 0);
  font-family:Montserrat; 
}
#firstbox {
  margin: 0px 0px 30px 0px;
  font-family: Montserrat;
}
#maincontent {
  margin:40px 180px 0px 180px;
  position: absolute;
  background-color: rgba(110, 255, 175, 0);
  /*box-shadow: 0px 5px 15px grey; */
  border-radius: 15px;
}
.bg {
  background: url('topbackground.jpg');
  position: absolute;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*
#whitetransparency {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  position:absolute;
  height: auto;
}
*/