html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgb(87, 230, 255);
}

.container1 {
  position: relative;
  color:rgba(255, 255, 255, 0.5);
}
#logo {
  position: absolute;
  height: 80px;
  width: 80px; 
  margin: 25px 0px 0px 30px;
}

#h1first {
  margin: 200px 0px 0px 120px;
  color: rgb(0, 0, 0);
  font-family: Montserrat, Helvetica; 
  font-weight: bold;
  text-shadow: 0px 0px 4px white;
}
.firstbox {
  margin: 0px 0px 0px 200px;
  font-family: Montserrat, Helvetica;
  color:rgb(0, 0, 0);
  font-size: 20px; 
  font-weight: bold;
  text-shadow: 0px 0px 4px white;
  text-shadow: 0px 0px 2px white;
}
#maincontent {
  margin:40px 180px 0px 180px;
  position: absolute;
  background-color: rgba(110, 255, 175, 0);
  /*box-shadow: 0px 5px 15px grey; */
  border-radius: 15px;
}
.bg {
  position: absolute;
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  animation-name: slidein; 
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: ease;
}

@keyframes slidein {
  0% {top: -2000px;}
  100% {top: 0px;}
}

#whitetransparency {
  color: rgb(255, 255, 255);
  opacity: 0.65;
  position: absolute;
  width: 100%;
}
/*
.images {
  position: absolute;
  width: auto;
  height: auto;
}
*/
#rod {
  margin: 50px 0px 0px -400px;
  padding: 0;
  position: absolute;
  width: auto;
  height: auto;
  animation-name: images;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: ease;
}

#sword {
  margin:  50px 0px 0px 470px;
  position: absolute;
  width: auto;
  height: auto;
  animation-name: images;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: ease;
}

@keyframes images {
  0% {top: 230px;}
  50% {top: 80px;}
  100% {top: 230px;}
}

#secondbody {
  background-color: #ffffff;
  position: absolute;
  top: 759px;
}

.font {
  font-family: Montserrat, Helvetica;
} 

#h1 {
  position: absolute;
  margin: 90px 0px 0px 100px;
}

#p1 {
  position: relative;
  margin: 160px 420px 0px 170px;
  line-height: 40px;
  padding-bottom: 70px;
}

#firstimage {
  position: relative; 
  width: 240px; 
  height: 240px;
  object-fit: cover;
  object-position: 70% 70%;
  left: 1000px;
  bottom: 300px;
  border-radius: 20px;
}