body {
  background-color: rgb(140, 255, 207);
}
h1 {
  color: rgb(0, 0, 0);
}
#firstbox {
  margin: 0px 0px 30px 0px;
}
#maincontent {
  background-color: rgb(110, 255, 175);
  box-shadow: 0px 5px 15px grey;
}